{% extends 'base.html.twig' %}

{% block title %}Panier index{% endblock %}

{% block body %}
    <h1>Panier index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id Movie</th>
                <th>Nom</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in panier_items %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value["title"] }}</td>
                    <td>{{ value["quantity"] }}</td>
                </tr>    
            {% else %}
                <tr>
                    <td colspan="2">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
