{% extends 'base.html.twig' %}

{% block title %}Search Movies{% endblock %}

{% block body %}
    <h1>Search movies</h1>

    {{ include('movie/_form.html.twig') }}

    <div class="md-5">
        <button type="button" onclick="location.href='{{ path('movie_index') }}'" class="btn btn-primary btn-lg" style="color:#3B4CCA;" >Retour au Catalogue</button>
    </div>
{% endblock %}
