{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <div style="text-align: center;">
        <h5 class="card-title">Bienvenue FilmPrivé.com</h5>
    </div>
    

{% endblock %}
